<a href="https://colab.research.google.com/github/TsamayaDesigns/codeDivision-data-with-python/blob/main/Data_Investigation_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data investigation project
---

Use what you have learnt so far about reading data files and displaying rows, columns, unique values, etc, to investigate and produce some printed information from this data set: https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv

In [42]:
import pandas as pd

# Import CSV-data from GitHub
def get_csv_data():
  url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv"
  df = pd.read_csv(url)
  return df

data = get_csv_data()

# Produce statistics from imported data
def investigate_data(data):
  #Create new dataframes
  uk_df = data[data["borough_flag"] == 0]
  uk_unique = uk_df["area"].unique()
  london_boroughs_df = data[data["borough_flag"] == 1]
  london_boroughs_unique = london_boroughs_df["area"].unique()

  # UK Data

  # Convert "date" column to datetime
  # uk_df["date"] = uk_df["date"].replace("-", "")
  # uk_df["date"] = pd.to_datetime(uk_df.loc["date"])
  # print(uk_df["date"])
  uk_df_values = uk_df.values
  # Group by date and area, then calculate the mean_salary
  # grouped_data = uk_df.groupby(['date', 'area'])['mean_salary'].mean()
  # print(grouped_data)

  # UK Data
  # uk_areas = uk_df[uk_df["area","date","mean_salary"]].groupby("date")
  # uk_areas = uk_df[["area","date","mean_salary"]].
 # Mean ticket fare by sex and cabin class combinations
  # uk_data = uk_df.loc["england", "scotland", "wales", "northern ireland"]


  # Details of "uk_df" dataframe
  uk_df_shape = uk_df.shape
  uk_df_info = uk_df.info
  uk_df_columns = uk_df.columns
  uk_df_describe = uk_df.describe()
  uk_df_sorted = uk_df.sort_values(["area", "date", "mean_salary"], ascending = [True, True, True])
  uk_df_3_columns = uk_df_sorted[["area", "date", "mean_salary"]]


  # The range of Salary(mean)
  # uk_mean_salary = []
  # for area in uk_df["area"]:
  #   # print(area)
  #   for date in uk_df["date"]:
  #     date = date.replace("-", "")
  #     # print(date)
  #     for salary in uk_df["mean_salary"]:
  #       # print(salary)
  #       salary_dict = {"area": area, "date": date, "mean_salary": salary}
  #       uk_mean_salary.append(salary_dict)
  #   # uk_mean_salary
  # print(uk_mean_salary)

  # mean_salary_by_borough = london_boroughs_df.groupby("median_salary")["area"].mean()
  # print("Mean Salary: ", mean_salary_by_borough)
  # range_mean_salary = uk_df['mean_salary'].max() - uk_df['mean_salary'].min()

  return {
      "1. UK DF shape: ": uk_df_shape,
      "2. UK DF info: ": uk_df_info,
      "3. UK DF Column names: ": uk_df_columns,
      "4. UK DF describe: ": uk_df_describe,
      "5. Areas in \"uk_df\" dataframe: ": uk_unique,
      "6. Areas in \"london_buroughs_df\" dataframe: ": london_boroughs_unique,
      "7. UK DF sorted by area, date & mean_salary": uk_df_sorted,
      "8. UK DF - show 3 columns: ": uk_df_3_columns,
      # "3. UK Salary (mean): ": uk_mean_salary,
      # "4. UK Data: ": uk_areas,

      # "4. UK Data: ": uk_data,

  }

statistics = investigate_data(data)

print("\nUnited Kingdom Population Statistics\n")
for key, value in statistics.items():
  print(f"{key}:\n{value}\n")

United Kingdom Population Statistics

1. UK DF shape: :
(378, 12)

2. UK DF info: :
<bound method DataFrame.info of            code                      area        date  median_salary  \
33    E12000001                north east  1999-12-01        16282.0
34    E12000002                north west  1999-12-01        16977.0
35    E12000003  yorkshire and the humber  1999-12-01        16527.0
36    E12000004             east midlands  1999-12-01        16392.0
37    E12000005             west midlands  1999-12-01        17000.0
...         ...                       ...         ...            ...
1066  K03000001             great britain  2019-12-01        30446.0
1067  K04000001         england and wales  2019-12-01        30500.0
1068  N92000002          northern ireland  2019-12-01        27434.0
1069  S92000003                  scotland  2019-12-01        30000.0
1070  W92000004                     wales  2019-12-01        27500.0

      life_satisfaction mean_salary recycling_pct  population_size  \
33                  NaN       18351             5        2550314.0
34                  NaN       19609             7        6773115.0
35                  NaN       18977             7        4956325.0
36                  NaN       18864            11        4152443.0
37                  NaN       19686             9        5271959.0
...                 ...         ...           ...              ...
1066                NaN       37603           NaN              NaN
1067                NaN       37865           NaN              NaN
1068                NaN       32083           NaN              NaN
1069                NaN       34916           NaN              NaN
1070                NaN       31251           NaN              NaN

      number_of_jobs  area_size  no_of_houses  borough_flag
33               NaN        NaN           NaN             0
34               NaN        NaN           NaN             0
35               NaN        NaN           NaN             0
36               NaN        NaN           NaN             0
37               NaN        NaN           NaN             0
...              ...        ...           ...           ...
1066             NaN        NaN           NaN             0
1067             NaN        NaN           NaN             0
1068             NaN        NaN           NaN             0
1069             NaN        NaN           NaN             0
1070             NaN        NaN           NaN             0

[378 rows x 12 columns]>

3. UK DF Column names: :
Index(['code', 'area', 'date', 'median_salary', 'life_satisfaction',
       'mean_salary', 'recycling_pct', 'population_size', 'number_of_jobs',
       'area_size', 'no_of_houses', 'borough_flag'],
      dtype='object')

4. UK DF describe: :
       median_salary  life_satisfaction  population_size  number_of_jobs  \
count     366.000000          96.000000     3.580000e+02    3.040000e+02
mean    24920.724044           7.601562     1.673781e+07    9.446168e+06
std      4882.025414           0.140303     2.207137e+07    1.187159e+07
min     15798.000000           7.250000     1.679006e+06    7.620000e+05
25%     21458.750000           7.510000     4.411521e+06    2.395750e+06
50%     24886.500000           7.615000     5.402582e+06    2.823500e+06
75%     27457.250000           7.692500     8.711981e+06    1.091350e+07
max     42153.000000           7.920000     6.643555e+07    3.575000e+07

          area_size  no_of_houses  borough_flag
count  7.200000e+01  7.200000e+01         378.0
mean   3.405668e+06  7.325185e+06           0.0
std    5.754941e+06  8.963327e+06           0.0
min    3.279600e+04  1.255102e+06           0.0
25%    1.032060e+05  1.754865e+06           0.0
50%    1.430735e+05  2.566502e+06           0.0
75%    3.445535e+06  7.968824e+06           0.0
max    1.330373e+07  2.417217e+07           0.0

5. Areas in "uk_df" dataframe: :
['north east' 'north west' 'yorkshire and the humber' 'east midlands'
 'west midlands' 'east' 'london' 'south east' 'south west' 'inner london'
 'outer london' 'england' 'united kingdom' 'great britain'
 'england and wales' 'northern ireland' 'scotland' 'wales']

6. Areas in "london_buroughs_df" dataframe: :
['city of london' 'barking and dagenham' 'barnet' 'bexley' 'brent'
 'bromley' 'camden' 'croydon' 'ealing' 'enfield' 'greenwich' 'hackney'
 'hammersmith and fulham' 'haringey' 'harrow' 'havering' 'hillingdon'
 'hounslow' 'islington' 'kensington and chelsea' 'kingston upon thames'
 'lambeth' 'lewisham' 'merton' 'newham' 'redbridge' 'richmond upon thames'
 'southwark' 'sutton' 'tower hamlets' 'waltham forest' 'wandsworth'
 'westminster']

7. UK DF sorted by area, date & mean_salary:
           code                      area        date  median_salary  \
38    E12000006                      east  1999-12-01        18000.0
89    E12000006                      east  2000-12-01        19020.0
140   E12000006                      east  2001-12-01        19978.0
191   E12000006                      east  2002-12-01        20495.0
242   E12000006                      east  2003-12-01        21511.0
...         ...                       ...         ...            ...
851   E12000003  yorkshire and the humber  2015-12-01        25194.0
902   E12000003  yorkshire and the humber  2016-12-01        25946.0
953   E12000003  yorkshire and the humber  2017-12-01        26309.0
1004  E12000003  yorkshire and the humber  2018-12-01        26892.0
1055  E12000003  yorkshire and the humber  2019-12-01        27835.0

      life_satisfaction mean_salary recycling_pct  population_size  \
38                  NaN       20866            14        5338722.0
89                  NaN       22424            15        5374972.0
140                 NaN       23615            17        5400463.0
191                 NaN       24434            19        5432688.0
242                 NaN       25609            23        5474133.0
...                 ...         ...           ...              ...
851                7.65       29371            44        5390576.0
902                7.69       29811            43        5425741.0
953                7.66       30484            42              NaN
1004               7.70       31719            43              NaN
1055                NaN       32653           NaN              NaN

      number_of_jobs  area_size  no_of_houses  borough_flag
38               NaN        NaN           NaN             0
89         2621000.0        NaN           NaN             0
140        2654000.0        NaN           NaN             0
191        2699000.0        NaN           NaN             0
242        2728000.0        NaN           NaN             0
...              ...        ...           ...           ...
851        2694000.0        NaN           NaN             0
902        2735000.0        NaN           NaN             0
953        2759000.0        NaN           NaN             0
1004       2773000.0        NaN           NaN             0
1055             NaN        NaN           NaN             0

[378 rows x 12 columns]

8. UK DF - show 3 columns: :
                          area        date mean_salary
38                        east  1999-12-01       20866
89                        east  2000-12-01       22424
140                       east  2001-12-01       23615
191                       east  2002-12-01       24434
242                       east  2003-12-01       25609
...                        ...         ...         ...
851   yorkshire and the humber  2015-12-01       29371
902   yorkshire and the humber  2016-12-01       29811
953   yorkshire and the humber  2017-12-01       30484
1004  yorkshire and the humber  2018-12-01       31719
1055  yorkshire and the humber  2019-12-01       32653

[378 rows x 3 columns]