<a href="https://colab.research.google.com/github/TsamayaDesigns/codeDivision-data-with-python/blob/main/Data_Investigation_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data investigation project
---

Use what you have learnt so far about reading data files and displaying rows, columns, unique values, etc, to investigate and produce some printed information from this data set: https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv

In [33]:
import pandas as pd

# Import CSV-data from GitHub
def get_csv_data():
  url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv"
  df = pd.read_csv(url)
  return df

data = get_csv_data()

# Produce statistics from imported data
def investigate_data(data):
  #Create new dataframes
  uk_df = data[data["borough_flag"] == 0]
  uk_unique = uk_df["area"].unique()
  london_boroughs_df = data[data["borough_flag"] == 1]
  london_boroughs_unique = london_boroughs_df["area"].unique()

  # UK Data
  # Details of "uk_df" dataframe
  # DF shape
  uk_df_shape = uk_df.shape

  # DF info
  uk_df_info = uk_df.info()

  # DF columns
  uk_df_columns = uk_df.columns

  # DF describe
  uk_df_describe = uk_df.describe()

  # Iterate uk_df over rows & calculate job/population ratios
  uk_job_population_ratios = []
  for index, row in uk_df.iterrows():
    uk_job_population_ratio = row["number_of_jobs"] / row["population_size"]
    uk_job_population_ratios.append(uk_job_population_ratio)

  # Add new column to uk_df: Jobs per population size ratio
  uk_df["job_population_ratio"] = uk_job_population_ratios

  # DF sorted by certain columns in ascending order
  uk_df_sorted = uk_df.sort_values(["area", "date", "mean_salary", "median_salary", "job_population_ratio"], ascending = [True, True, True, True, True])

  # DF showing only 5 columns
  uk_df_5_columns = uk_df_sorted[["area", "date", "mean_salary", "median_salary", "job_population_ratio"]]

  # DF with "scotland" selected as the "area"
  uk_df_5_columns_scotland = uk_df_5_columns[uk_df_5_columns["area"] == "scotland"]

  # DF "scotland", showing "mean_salary" for greater than 30000
  uk_df_5_columns_scotland_mean = uk_df_5_columns_scotland[(uk_df_5_columns_scotland["mean_salary"] > "30000")]

  # DF "england", showing "mean_salary" for greater than 30000, from 2012-12-01 onwards
  uk_df_5_columns_england_mean = uk_df_5_columns[(uk_df_5_columns["area"] == "england") & (uk_df_5_columns["date"] > "2011-12-01") & (uk_df_5_columns["mean_salary"] > "30000")]

  # DF uk_df sorted according to UK, SCO, ENG, WAL & NI (2012 - 2016)
  is_2012_2016 = uk_df_5_columns["date"].isin(["2012-12-01","2013-12-01", "2014-12-01", "2015-12-01", "2016-12-01"]) & uk_df_5_columns["area"].isin(["scotland", "england", "wales", "northern ireland", "united kingdom"])
  uk_df_date_sorted = uk_df_5_columns[is_2012_2016]

  # Filter "is_2012_2016" for rows where "area" is either Scotland or England or UK
    # eng_sco_uk_rows = uk_df_date_sorted[(uk_df_date_sorted["area"].isin(eng_sco_uk)] == "england") | (uk_df_date_sorted["area"] == "scotland") | (uk_df_date_sorted["area"] == "united kingdom")]
  eng_sco_uk = ["england", "scotland", "united kingdom"]
  eng_sco_uk_rows = uk_df_date_sorted[uk_df_date_sorted["area"].isin(eng_sco_uk)]
  #


  return {
      "1. UK DF shape: ": uk_df_shape,
      "2. UK DF info: ": uk_df_info,
      "3. UK DF Column names: ": uk_df_columns,
      "4. UK DF describe: ": uk_df_describe,
      "5. Areas in \"uk_df\" dataframe: ": uk_unique,
      "6. Areas in \"london_buroughs_df\" dataframe: ": london_boroughs_unique,
      "7. UK DF sorted by area, date & mean_salary": uk_df_sorted,
      "8. UK DF - show 4 columns: ": uk_df_5_columns,
      "9. UK DF Scotland (ordered by date, mean_salary, median_salary - ascending): ": uk_df_5_columns_scotland,
      "10. UK DF Scotland (mean_salary > 30000): ": uk_df_5_columns_scotland_mean,
      "11. UK DF England (mean_salary > 30000 AND date > 2011-12-01): ": uk_df_5_columns_england_mean,
      "12. UK DF sorted according to UK, SCO, ENG, WAL & NI (2012 - 2016) :": uk_df_date_sorted,
      "13. UK DF England/Scotland/United Kingdom stats for 2012-2016: ": eng_sco_uk_rows,
      # "14. UK DF ratio of jobs per population size: ": uk_job_population_ratios,


  }

statistics = investigate_data(data)

print("\nUnited Kingdom Population Statistics\n")
for key, value in statistics.items():
  print(f"{key}:\n{value}\n")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 378 entries, 33 to 1070
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   code               378 non-null    object
 1   area               378 non-null    object
 2   date               378 non-null    object
 3   median_salary      366 non-null    float64
 4   life_satisfaction  96 non-null     float64
 5   mean_salary        378 non-null    object
 6   recycling_pct      200 non-null    object
 7   population_size    358 non-null    float64
 8   number_of_jobs     304 non-null    float64
 9   area_size          72 non-null     float64
 10  no_of_houses       72 non-null     float64
 11  borough_flag       378 non-null    int64
dtypes: float64(6), int64(1), object(5)
memory usage: 38.4+ KB

United Kingdom Population Statistics

1. UK DF shape: :
(378, 12)

2. UK DF info: :
None

3. UK DF Column names: :
Index(['code', 'area', 'date', 'median_salary', 'life_satisfaction',
       'mean_salary', 'recycling_pct', 'population_size', 'number_of_jobs',
       'area_size', 'no_of_houses', 'borough_flag'],
      dtype='object')

4. UK DF describe: :
       median_salary  life_satisfaction  population_size  number_of_jobs  \
count     366.000000          96.000000     3.580000e+02    3.040000e+02
mean    24920.724044           7.601562     1.673781e+07    9.446168e+06
std      4882.025414           0.140303     2.207137e+07    1.187159e+07
min     15798.000000           7.250000     1.679006e+06    7.620000e+05
25%     21458.750000           7.510000     4.411521e+06    2.395750e+06
50%     24886.500000           7.615000     5.402582e+06    2.823500e+06
75%     27457.250000           7.692500     8.711981e+06    1.091350e+07
max     42153.000000           7.920000     6.643555e+07    3.575000e+07

          area_size  no_of_houses  borough_flag
count  7.200000e+01  7.200000e+01         378.0
mean   3.405668e+06  7.325185e+06           0.0
std    5.754941e+06  8.963327e+06           0.0
min    3.279600e+04  1.255102e+06           0.0
25%    1.032060e+05  1.754865e+06           0.0
50%    1.430735e+05  2.566502e+06           0.0
75%    3.445535e+06  7.968824e+06           0.0
max    1.330373e+07  2.417217e+07           0.0

5. Areas in "uk_df" dataframe: :
['north east' 'north west' 'yorkshire and the humber' 'east midlands'
 'west midlands' 'east' 'london' 'south east' 'south west' 'inner london'
 'outer london' 'england' 'united kingdom' 'great britain'
 'england and wales' 'northern ireland' 'scotland' 'wales']

6. Areas in "london_buroughs_df" dataframe: :
['city of london' 'barking and dagenham' 'barnet' 'bexley' 'brent'
 'bromley' 'camden' 'croydon' 'ealing' 'enfield' 'greenwich' 'hackney'
 'hammersmith and fulham' 'haringey' 'harrow' 'havering' 'hillingdon'
 'hounslow' 'islington' 'kensington and chelsea' 'kingston upon thames'
 'lambeth' 'lewisham' 'merton' 'newham' 'redbridge' 'richmond upon thames'
 'southwark' 'sutton' 'tower hamlets' 'waltham forest' 'wandsworth'
 'westminster']

7. UK DF sorted by area, date & mean_salary:
           code                      area        date  median_salary  \
38    E12000006                      east  1999-12-01        18000.0
89    E12000006                      east  2000-12-01        19020.0
140   E12000006                      east  2001-12-01        19978.0
191   E12000006                      east  2002-12-01        20495.0
242   E12000006                      east  2003-12-01        21511.0
...         ...                       ...         ...            ...
851   E12000003  yorkshire and the humber  2015-12-01        25194.0
902   E12000003  yorkshire and the humber  2016-12-01        25946.0
953   E12000003  yorkshire and the humber  2017-12-01        26309.0
1004  E12000003  yorkshire and the humber  2018-12-01        26892.0
1055  E12000003  yorkshire and the humber  2019-12-01        27835.0

      life_satisfaction mean_salary recycling_pct  population_size  \
38                  NaN       20866            14        5338722.0
89                  NaN       22424            15        5374972.0
140                 NaN       23615            17        5400463.0
191                 NaN       24434            19        5432688.0
242                 NaN       25609            23        5474133.0
...                 ...         ...           ...              ...
851                7.65       29371            44        5390576.0
902                7.69       29811            43        5425741.0
953                7.66       30484            42              NaN
1004               7.70       31719            43              NaN
1055                NaN       32653           NaN              NaN

      number_of_jobs  area_size  no_of_houses  borough_flag  \
38               NaN        NaN           NaN             0
89         2621000.0        NaN           NaN             0
140        2654000.0        NaN           NaN             0
191        2699000.0        NaN           NaN             0
242        2728000.0        NaN           NaN             0
...              ...        ...           ...           ...
851        2694000.0        NaN           NaN             0
902        2735000.0        NaN           NaN             0
953        2759000.0        NaN           NaN             0
1004       2773000.0        NaN           NaN             0
1055             NaN        NaN           NaN             0

      job_population_ratio
38                     NaN
89                0.487630
140               0.491439
191               0.496807
242               0.498344
...                    ...
851               0.499761
902               0.504079
953                    NaN
1004                   NaN
1055                   NaN

[378 rows x 13 columns]

8. UK DF - show 4 columns: :
                          area        date mean_salary  median_salary  \
38                        east  1999-12-01       20866        18000.0
89                        east  2000-12-01       22424        19020.0
140                       east  2001-12-01       23615        19978.0
191                       east  2002-12-01       24434        20495.0
242                       east  2003-12-01       25609        21511.0
...                        ...         ...         ...            ...
851   yorkshire and the humber  2015-12-01       29371        25194.0
902   yorkshire and the humber  2016-12-01       29811        25946.0
953   yorkshire and the humber  2017-12-01       30484        26309.0
1004  yorkshire and the humber  2018-12-01       31719        26892.0
1055  yorkshire and the humber  2019-12-01       32653        27835.0

      job_population_ratio
38                     NaN
89                0.487630
140               0.491439
191               0.496807
242               0.498344
...                    ...
851               0.499761
902               0.504079
953                    NaN
1004                   NaN
1055                   NaN

[378 rows x 5 columns]

9. UK DF Scotland (ordered by date, mean_salary, median_salary - ascending): :
          area        date mean_salary  median_salary  job_population_ratio
49    scotland  1999-12-01       19667        16914.0                   NaN
100   scotland  2000-12-01       20678        18029.0              0.495562
151   scotland  2001-12-01       21523        18610.0              0.509656
202   scotland  2002-12-01       22317        19167.0              0.507304
253   scotland  2003-12-01       23080        19799.0              0.512972
304   scotland  2004-12-01       23850        20598.0              0.518655
355   scotland  2005-12-01       25107        21312.0              0.524441
406   scotland  2006-12-01       26121        22373.0              0.519179
457   scotland  2007-12-01       27179        23098.0              0.522631
508   scotland  2008-12-01       28393        24105.0              0.523362
559   scotland  2009-12-01       29383        24993.0              0.511287
610   scotland  2010-12-01       29616        25205.0              0.494660
661   scotland  2011-12-01       29985        25291.0              0.502462
712   scotland  2012-12-01       30792        25780.0              0.497403
763   scotland  2013-12-01       31486        26489.0              0.494397
814   scotland  2014-12-01       31484        27038.0              0.511070
865   scotland  2015-12-01       32217        27687.0              0.513307
916   scotland  2016-12-01       32872        27925.0              0.527134
967   scotland  2017-12-01       33383        28335.0              0.522231
1018  scotland  2018-12-01       34604        29289.0              0.526103
1069  scotland  2019-12-01       34916        30000.0                   NaN

10. UK DF Scotland (mean_salary > 30000): :
          area        date mean_salary  median_salary  job_population_ratio
712   scotland  2012-12-01       30792        25780.0              0.497403
763   scotland  2013-12-01       31486        26489.0              0.494397
814   scotland  2014-12-01       31484        27038.0              0.511070
865   scotland  2015-12-01       32217        27687.0              0.513307
916   scotland  2016-12-01       32872        27925.0              0.527134
967   scotland  2017-12-01       33383        28335.0              0.522231
1018  scotland  2018-12-01       34604        29289.0              0.526103
1069  scotland  2019-12-01       34916        30000.0                   NaN

11. UK DF England (mean_salary > 30000 AND date > 2011-12-01): :
         area        date mean_salary  median_salary  job_population_ratio
707   england  2012-12-01       33529        26822.0              0.506919
758   england  2013-12-01       33967        27372.0              0.511363
809   england  2014-12-01       34214        27485.0              0.521516
860   england  2015-12-01       34231        27841.0              0.533326
911   england  2016-12-01       35053        28496.0              0.542302
962   england  2017-12-01       36076        29083.0              0.545834
1013  england  2018-12-01       37313        29856.0              0.544740
1064  england  2019-12-01       38206        30667.0                   NaN

12. UK DF sorted according to UK, SCO, ENG, WAL & NI (2012 - 2016) ::
                 area        date mean_salary  median_salary  \
707           england  2012-12-01       33529        26822.0
758           england  2013-12-01       33967        27372.0
809           england  2014-12-01       34214        27485.0
860           england  2015-12-01       34231        27841.0
911           england  2016-12-01       35053        28496.0
711  northern ireland  2012-12-01       27784        23944.0
762  northern ireland  2013-12-01       27839        23952.0
813  northern ireland  2014-12-01       28263        24491.0
864  northern ireland  2015-12-01       29376        25719.0
915  northern ireland  2016-12-01       30189        25978.0
712          scotland  2012-12-01       30792        25780.0
763          scotland  2013-12-01       31486        26489.0
814          scotland  2014-12-01       31484        27038.0
865          scotland  2015-12-01       32217        27687.0
916          scotland  2016-12-01       32872        27925.0
708    united kingdom  2012-12-01       32814        26472.0
759    united kingdom  2013-12-01       33283        27011.0
810    united kingdom  2014-12-01       33516        27215.0
861    united kingdom  2015-12-01       33644        27615.0
912    united kingdom  2016-12-01       34447        28195.0
713             wales  2012-12-01       26950        23617.0
764             wales  2013-12-01       27518        24103.0
815             wales  2014-12-01       27759        24453.0
866             wales  2015-12-01       28359        24869.0
917             wales  2016-12-01       29150        25440.0

     job_population_ratio
707              0.506919
758              0.511363
809              0.521516
860              0.533326
911              0.542302
711              0.452393
762              0.455806
813              0.460745
864              0.464998
915              0.473649
712              0.497403
763              0.494397
814              0.511070
865              0.513307
916              0.527134
708              0.501640
759              0.505540
810              0.515583
861              0.526340
912              0.535812
713              0.445989
764              0.452568
815              0.451482
866              0.462394
917              0.472833

13. UK DF England/Scotland/United Kingdom stats for 2012-2016: :
               area        date mean_salary  median_salary  \
707         england  2012-12-01       33529        26822.0
758         england  2013-12-01       33967        27372.0
809         england  2014-12-01       34214        27485.0
860         england  2015-12-01       34231        27841.0
911         england  2016-12-01       35053        28496.0
712        scotland  2012-12-01       30792        25780.0
763        scotland  2013-12-01       31486        26489.0
814        scotland  2014-12-01       31484        27038.0
865        scotland  2015-12-01       32217        27687.0
916        scotland  2016-12-01       32872        27925.0
708  united kingdom  2012-12-01       32814        26472.0
759  united kingdom  2013-12-01       33283        27011.0
810  united kingdom  2014-12-01       33516        27215.0
861  united kingdom  2015-12-01       33644        27615.0
912  united kingdom  2016-12-01       34447        28195.0

     job_population_ratio
707              0.506919
758              0.511363
809              0.521516
860              0.533326
911              0.542302
712              0.497403
763              0.494397
814              0.511070
865              0.513307
916              0.527134
708              0.501640
759              0.505540
810              0.515583
861              0.526340
912              0.535812

<ipython-input-33-9f12f27903eb>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uk_df["job_population_ratio"] = uk_job_population_ratios