<a href="https://colab.research.google.com/github/TsamayaDesigns/codeDivision-data-with-python/blob/main/Data_Project_Beyond_Borders_Analysing_Migration_Patterns_in_South_Africa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Beyond Borders: Analysing Migration Patterns in South Africa
---


* **Author:**
  * Eugene Gerber
* **Date:**
  * 2024-04-24

## Objectives
---
Understanding migration patterns to and from South Africa are crucial for a number of reasons, for example:
1.  Policy Making
2.  Economic Development
3.  Labour Market Planning
4.  Regional Comparison

In this project I will investigate migration patterns and their implications by analising three dataframes containing information on countries, industries, and skills to provide relevant insight and answers to four important questions:
1.  What are the main countries of destination for migrants from South Africa, and how has the net migration rate changed over the years?
2.  Which industries are attracting migrants from South Africa, and what is the trend in their skill demand over recent years?
3.  What are the primary skill categories that migrants take from (or bring to) South Africa, and how have their net migration rates evolved annually?
4.  How does South Africa's migration patterns compare with those of neighbouring countries within the same World Bank region?

Each question will explore a key aspect of migration dynamics, including destination countries, industries attracting migrants, skill categories, and regional comparisons, thereby providing valuable insights into the migration patterns of South Africa.

---

## The Dataset

I will be using the Talent Migration Dataset. The metrics and data are a product of the partnership between the World Bank and LinkedIn, and cover industry employment, skill, and migration metrics for more than 100 countries.

**Location:**
* URL: "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"

**Contents:**
* Worksheets:
  1. Country Migration
  2. Industry Migration
  3. Skill Migration

**Code:**

In the code section below, a function **"get_excel_data()"** is created that will:
  1. Specify the location (URL) of the dataset
  2. Specify the new dataframes for each separate worksheet
    * country_df
    * industry_df
    * skill_df
  3. Read the specified worksheets (Worksheets) into its own dataframe (2)
  4. Display the column names and the first 5 rows of each dataframe (2)
  5. Return a separate dataframe for each worksheet

**Display**

Displayed directly below the Code Section (per dataframe):
* Dataframe name
* Column names
* First 5 rows of data

---

In [70]:
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.width', 270)

# Import CSV-data from GitHub
def get_excel_data():
  url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
  country_df = pd.read_excel(url, sheet_name = "Country Migration")
  industry_df = pd.read_excel(url, sheet_name = "Industry Migration")
  skill_df =  pd.read_excel(url, sheet_name = "Skill Migration")

  # Display Datasets (first 5 rows)
  print("Country Dataframe: ")
  display(country_df.head())
  print("\nIndustry Dataframe: ")
  display(industry_df.head())
  print("\nSkill Dataframe: ")
  display(skill_df.head())

  return country_df, industry_df, skill_df

country_df, industry_df, skill_df = get_excel_data()

Country Dataframe:

,base_country_code,base_country_name,base_lat,base_long,base_country_wb_income,base_country_wb_region,target_country_code,target_country_name,target_lat,target_long,target_country_wb_income,target_country_wb_region,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,af,Afghanistan,33.939110,67.709953,Low Income,South Asia,0.19,0.16,0.11,-0.05,-0.02
1,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,dz,Algeria,28.033886,1.659626,Upper Middle Income,Middle East & North Africa,0.19,0.25,0.57,0.55,0.78
2,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,ao,Angola,-11.202692,17.873887,Lower Middle Income,Sub-Saharan Africa,-0.01,0.04,0.11,-0.02,-0.06
3,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,ar,Argentina,-38.416097,-63.616672,High Income,Latin America & Caribbean,0.16,0.18,0.04,0.01,0.23
4,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,am,Armenia,40.069099,45.038189,Upper Middle Income,Europe & Central Asia,0.10,0.05,0.03,-0.01,0.02

Industry Dataframe:

  country_code          country_name    wb_income                   wb_region isic_section_index              isic_section_name  industry_id        industry_name  net_per_10K_2015  net_per_10K_2016  net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
0           ae  United Arab Emirates  High income  Middle East & North Africa                  C                  Manufacturing            1      Defense & Space            378.74            127.94              8.20             68.51             49.55
1           ae  United Arab Emirates  High income  Middle East & North Africa                  J  Information and communication            3    Computer Hardware            100.97            358.14            112.98            149.57            182.22
2           ae  United Arab Emirates  High income  Middle East & North Africa                  J  Information and communication            4    Computer Software           1079.36            848.15            596.48            409.18            407.41
3           ae  United Arab Emirates  High income  Middle East & North Africa                  J  Information and communication            5  Computer Networking            401.46            447.39            163.99            236.69            188.07
4           ae  United Arab Emirates  High income  Middle East & North Africa                  J  Information and communication            6             Internet           1840.33           1368.42            877.71            852.39            519.40

Skill Dataframe:

  country_code country_name   wb_income   wb_region  skill_group_id         skill_group_category        skill_group_name  net_per_10K_2015  net_per_10K_2016  net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
0           af  Afghanistan  Low income  South Asia            2549                  Tech Skills  Information Management           -791.59           -705.88           -550.04           -680.92          -1208.79
1           af  Afghanistan  Low income  South Asia            2608              Business Skills  Operational Efficiency          -1610.25           -933.55           -776.06           -532.22           -790.09
2           af  Afghanistan  Low income  South Asia            3806  Specialized Industry Skills       National Security          -1731.45           -769.68           -756.59           -600.44           -767.64
3           af  Afghanistan  Low income  South Asia           50321                  Tech Skills        Software Testing           -957.50           -828.54           -964.73           -406.50           -739.51
4           af  Afghanistan  Low income  South Asia            1606  Specialized Industry Skills                    Navy          -1510.71           -841.17           -842.32           -581.71           -718.64

# Describing the Data

* description of the processing with code in the box below to show summary information about the data

* description of the dataset
3 worksheets
data for 2015 - 2019
how many unique countries (in the code)
what code to be used: shape & description each
do a new function: describe_data()
---

In [71]:
# Describing the data
def describe_data():
  # 1. Country Migration
  print("\n1. Country Migration Dataframe")
  print("------------------------------")
  print("\nNumber of Rows & Columns: \n", country_df.shape)
  print("\nColumn Names, Non-null Counts & Datatypes: ")
  print(country_df.info())
  print("\nNumber of (unique) Countries: \n", len(country_df["base_country_code"].unique()))
  print("--------------------------------------------")

  # 2. Industry Migration
  print("\n2. Industry Migration Dataframe")
  print("-------------------------------")
  print("\nNumber of Rows & Columns: \n", industry_df.shape)
  print("\nColumn Names, Non-null Counts & Datatypes: ")
  print(industry_df.info())
  print("\nNumber of (unique) Countries: \n", len(industry_df["country_code"].unique()))
  print("--------------------------------------------")

  # 3. Skill Migration
  print("\n3. Skill Migration Dataframe")
  print("----------------------------")
  print("\nNumber of Rows & Columns: \n", skill_df.shape)
  print("\nColumn Names, Non-null Counts & Datatypes: ")
  print(skill_df.info())
  print("\nNumber of (unique) Countries: \n", len(skill_df["country_code"].unique()))
  print("--------------------------------------------")

describe_data()
## describe the dataset (number of records, statistics, columns, etc)

1. Country Migration Dataframe
------------------------------

Number of Rows & Columns:
 (4148, 17)

Column Names, Non-null Counts & Datatypes:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4148 entries, 0 to 4147
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   base_country_code         4148 non-null   object
 1   base_country_name         4148 non-null   object
 2   base_lat                  4148 non-null   float64
 3   base_long                 4148 non-null   float64
 4   base_country_wb_income    4148 non-null   object
 5   base_country_wb_region    4148 non-null   object
 6   target_country_code       4148 non-null   object
 7   target_country_name       4148 non-null   object
 8   target_lat                4148 non-null   float64
 9   target_long               4148 non-null   float64
 10  target_country_wb_income  4148 non-null   object
 11  target_country_wb_region  4148 non-null   object
 12  net_per_10K_2015          4148 non-null   float64
 13  net_per_10K_2016          4148 non-null   float64
 14  net_per_10K_2017          4148 non-null   float64
 15  net_per_10K_2018          4148 non-null   float64
 16  net_per_10K_2019          4148 non-null   float64
dtypes: float64(9), object(8)
memory usage: 551.0+ KB
None

Number of (unique) Countries:
 140
--------------------------------------------

2. Industry Migration Dataframe
-------------------------------

Number of Rows & Columns:
 (5295, 13)

Column Names, Non-null Counts & Datatypes:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5295 entries, 0 to 5294
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_code        5295 non-null   object
 1   country_name        5295 non-null   object
 2   wb_income           5295 non-null   object
 3   wb_region           5295 non-null   object
 4   isic_section_index  5295 non-null   object
 5   isic_section_name   5295 non-null   object
 6   industry_id         5295 non-null   int64
 7   industry_name       5295 non-null   object
 8   net_per_10K_2015    5295 non-null   float64
 9   net_per_10K_2016    5295 non-null   float64
 10  net_per_10K_2017    5295 non-null   float64
 11  net_per_10K_2018    5295 non-null   float64
 12  net_per_10K_2019    5295 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 537.9+ KB
None

Number of (unique) Countries:
 137
--------------------------------------------

3. Skill Migration Dataframe
----------------------------

Number of Rows & Columns:
 (17617, 12)

Column Names, Non-null Counts & Datatypes:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17617 entries, 0 to 17616
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   country_code          17617 non-null  object
 1   country_name          17617 non-null  object
 2   wb_income             17617 non-null  object
 3   wb_region             17617 non-null  object
 4   skill_group_id        17617 non-null  int64
 5   skill_group_category  17617 non-null  object
 6   skill_group_name      17617 non-null  object
 7   net_per_10K_2015      17617 non-null  float64
 8   net_per_10K_2016      17617 non-null  float64
 9   net_per_10K_2017      17617 non-null  float64
 10  net_per_10K_2018      17617 non-null  float64
 11  net_per_10K_2019      17617 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 1.6+ MB
None

Number of (unique) Countries:
 140
--------------------------------------------

## Cleaning the data
_what will you do to get the data ready for analysis_
* sorting
* removing null data
* forming new data tables
* ...
---

In [72]:
# Data Cleaning
def clean_data():
  # 1. Drop columns not needed from 'country_df'
  country_df.drop(columns=["base_lat", "base_long", "target_lat", "target_long"], inplace=True)

  # 2. Check for duplicates in the different dataframes
  print("\n2. Duplicates in dataframes?")
  print("----------------------------")
  print("\nCountry dataframe:", country_df.duplicated().sum())
  print("Industry dataframe:", industry_df.duplicated().sum())
  print("Skill dataframe:", skill_df.duplicated().sum())
  print("--------------------------------------------")

  # 3. Check for missing values
  print("\n3. Missing 'null' values in dataframes?")
  print("---------------------------------------")
  print("Missing values in Country:\n", country_df.isnull().sum())
  print("\nMissing values in Industry:\n", industry_df.isnull().sum())
  print("\nMissing values in Skill:\n", skill_df.isnull().sum())
  print("--------------------------------------------")

  # 4. Find the country codes missing from 'industry_df'
  print("\n4. Differences in dataframes: 'Country Code'?")
  print("---------------------------------------------")
  country_codes_country_df = set(country_df["base_country_code"].unique())
  country_codes_industry_df = set(industry_df["country_code"].unique())
  country_codes_skill_df = set(skill_df["country_code"].unique())
  countries_in_country_not_in_skill = country_codes_country_df - country_codes_skill_df

  if len(countries_in_country_not_in_skill) == 0:
      countries_not_in_industry = country_codes_country_df - country_codes_industry_df
      print("\nCountry codes missing from 'industry_df': ", countries_not_in_industry)


clean_data()
## data cleaning code

2. Duplicates in dataframes?
----------------------------

Country dataframe: 0
Industry dataframe: 0
Skill dataframe: 0
--------------------------------------------

3. Missing 'null' values in dataframes?
---------------------------------------
Missing values in Country:
 base_country_code           0
base_country_name           0
base_country_wb_income      0
base_country_wb_region      0
target_country_code         0
target_country_name         0
target_country_wb_income    0
target_country_wb_region    0
net_per_10K_2015            0
net_per_10K_2016            0
net_per_10K_2017            0
net_per_10K_2018            0
net_per_10K_2019            0
dtype: int64

Missing values in Industry:
 country_code          0
country_name          0
wb_income             0
wb_region             0
isic_section_index    0
isic_section_name     0
industry_id           0
industry_name         0
net_per_10K_2015      0
net_per_10K_2016      0
net_per_10K_2017      0
net_per_10K_2018      0
net_per_10K_2019      0
dtype: int64

Missing values in Skill:
 country_code            0
country_name            0
wb_income               0
wb_region               0
skill_group_id          0
skill_group_category    0
skill_group_name        0
net_per_10K_2015        0
net_per_10K_2016        0
net_per_10K_2017        0
net_per_10K_2018        0
net_per_10K_2019        0
dtype: int64
--------------------------------------------

4. Differences in dataframes: 'Country Code'?
---------------------------------------------

Country codes missing from 'industry_df':  {'py', 'na', 'tg'}

## Analysing the data
_what analysis are you doing and why_
* producing summary statistics
* printing calculated statistics
* data analysis calculations (e.g. regression, correlation)
* ...

---

In [73]:
# Analyse Data
def analyse_data():
  # Define years
  years = ["net_per_10K_2015", "net_per_10K_2016", "net_per_10K_2017", "net_per_10K_2018", "net_per_10K_2019"]

  # 1. Filter dataframe to separate migration to/from South Africa (za)
  migration_to_za = country_df[country_df["target_country_code"] == "za"]
  migration_from_za = country_df[country_df["base_country_code"] == "za"]
  print(migration_to_za)
  print(migration_from_za)

  # 2. Calculate net migration rates to/from South Africa (za)
  migration_to_za["net_migration_rate"] = migration_to_za[years].sum(axis=1)
  migration_from_za["net_migration_rate"] = migration_from_za[years].sum(axis=1)

  # 3. Aggregate net migration rates by country
  migration_to_za_agg = migration_to_za.groupby("target_country_name")["net_migration_rate"].mean()
  migration_from_za_agg = migration_from_za.groupby("target_country_name")["net_migration_rate"].mean()


  # 4. Display aggregated migration patterns
  # print(migration_from_za_agg)

  # Plot the overall migration patterns


analyse_data()
## analysis code here

     base_country_code     base_country_name base_country_wb_income      base_country_wb_region target_country_code target_country_name target_country_wb_income target_country_wb_region  net_per_10K_2015  net_per_10K_2016  net_per_10K_2017  net_per_10K_2018  \
71                  ae  United Arab Emirates            High Income  Middle East & North Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              2.45              2.28              1.97              0.97
107                 af           Afghanistan             Low Income                  South Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              2.97              3.68              1.57              0.84
145                 ao                Angola    Lower Middle Income          Sub-Saharan Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              3.94              1.87              1.11              2.13
218                 at               Austria            High Income       Europe & Central Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -0.01              0.45              0.42              0.39
297                 au             Australia            High Income         East Asia & Pacific                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              1.31              1.96              2.01              1.70
419                 be               Belgium            High Income       Europe & Central Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -0.04              0.06              0.25              0.50
476                 bh               Bahrain            High Income  Middle East & North Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.61              0.26              0.70              0.80
543                 br                Brazil    Upper Middle Income   Latin America & Caribbean                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -0.01             -0.02             -0.02             -0.05
558                 bw              Botswana    Upper Middle Income          Sub-Saharan Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              6.08              0.67             -0.15             -1.39
667                 ca                Canada            High Income               North America                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.21              0.28              0.44              0.61
693                 cd      Congo, Dem. Rep.             Low Income          Sub-Saharan Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             14.13              4.89              2.58              0.95
755                 ch           Switzerland            High Income       Europe & Central Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.26              0.48              0.55              0.42
824                 cm              Cameroon    Lower Middle Income          Sub-Saharan Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              1.22              0.51              0.15             -0.21
891                 cn                 China    Upper Middle Income         East Asia & Pacific                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.04              0.03              0.04              0.06
1101                de               Germany            High Income       Europe & Central Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.19              0.35              0.43              0.59
1165                dk               Denmark            High Income       Europe & Central Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.07              0.17              0.27              0.21
1274                eg      Egypt, Arab Rep.    Lower Middle Income  Middle East & North Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -0.07              0.04             -0.04             -0.06
1360                es                 Spain            High Income       Europe & Central Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.04              0.07              0.07              0.11
1383                et              Ethiopia             Low Income          Sub-Saharan Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.51              0.35              0.46              0.05
1520                fr                France            High Income       Europe & Central Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -0.07             -0.04              0.03              0.02
1642                gb        United Kingdom            High Income       Europe & Central Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -3.33             -1.59             -0.25              0.11
1689                gh                 Ghana    Lower Middle Income          Sub-Saharan Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.32              0.63              0.19             -0.25
1765                hk  Hong Kong SAR, China            High Income         East Asia & Pacific                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.72              0.71              0.50              0.53
1871                id             Indonesia    Lower Middle Income         East Asia & Pacific                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -0.02              0.01             -0.02             -0.02
1925                ie               Ireland            High Income       Europe & Central Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.63              1.35              1.82              2.28
1956                il                Israel            High Income  Middle East & North Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.23              0.31              0.35              0.53
2038                in                 India    Lower Middle Income                  South Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -0.04             -0.05             -0.02             -0.08
2117                is               Iceland            High Income       Europe & Central Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -8.17             -7.20             -3.68             -3.18
2196                it                 Italy            High Income       Europe & Central Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -0.02              0.00              0.02              0.04
2272                jp                 Japan            High Income         East Asia & Pacific                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.26              0.30              0.23              0.19
2303                ke                 Kenya    Lower Middle Income          Sub-Saharan Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              1.48              1.87              0.86              0.41
2361                kr           Korea, Rep.            High Income         East Asia & Pacific                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -0.02              0.08             -0.02              0.22
2392                kw                Kuwait            High Income  Middle East & North Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -0.67             -0.39             -0.04             -0.18
2615                mu             Mauritius    Upper Middle Income          Sub-Saharan Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -0.33              0.84              2.14             -2.05
2620                mw                Malawi             Low Income          Sub-Saharan Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              2.39              1.45             -2.12             -0.85
2664                mx                Mexico    Upper Middle Income   Latin America & Caribbean                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -0.01              0.01              0.07              0.00
2712                my              Malaysia    Upper Middle Income         East Asia & Pacific                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -0.04              0.03              0.03             -0.01
2729                mz            Mozambique             Low Income          Sub-Saharan Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              6.47              0.53             -0.16             -0.46
2735                na               Namibia    Upper Middle Income          Sub-Saharan Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             20.90             14.14              7.97              4.24
2772                ng               Nigeria    Lower Middle Income          Sub-Saharan Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.17             -0.15             -0.33             -0.54
2860                nl           Netherlands            High Income       Europe & Central Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.13              0.50              0.62              0.89
2920                no                Norway            High Income       Europe & Central Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -3.42             -9.67             -4.00             -1.37
2981                nz           New Zealand            High Income         East Asia & Pacific                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              4.31              8.89              8.64             10.38
3013                om                  Oman            High Income  Middle East & North Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.37              0.95              0.11              0.38
3102                ph           Philippines    Lower Middle Income         East Asia & Pacific                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.04              0.01              0.00              0.02
3140                pk              Pakistan    Lower Middle Income                  South Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -0.01             -0.03              0.03              0.16
3184                pl                Poland            High Income       Europe & Central Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -0.19             -0.18             -0.01             -0.02
3233                pt              Portugal            High Income       Europe & Central Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.07              0.14              0.16              0.33
3285                qa                 Qatar            High Income  Middle East & North Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              2.49              1.80              0.37              0.72
3399                sa          Saudi Arabia            High Income  Middle East & North Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.97              0.24             -0.10             -0.02
3474                se                Sweden            High Income       Europe & Central Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.08              0.20              0.79              0.52
3524                sg             Singapore            High Income         East Asia & Pacific                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.23              0.25              0.12              0.37
3642                th              Thailand    Upper Middle Income         East Asia & Pacific                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.02              0.39              0.22              0.20
3730                tr                Turkey    Upper Middle Income       Europe & Central Asia                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.00             -0.04             -0.05             -0.01
3764                tw         Taiwan, China            High Income         East Asia & Pacific                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              0.06              0.11              0.08              0.09
3785                tz              Tanzania             Low Income          Sub-Saharan Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              1.10              1.41             -0.31             -0.42
3842                ug                Uganda             Low Income          Sub-Saharan Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              1.15              0.21              0.26             -0.31
3960                us         United States            High Income               North America                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -0.78             -0.53             -0.19             -0.24
4130                zm                Zambia    Lower Middle Income          Sub-Saharan Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa              8.20              5.40              1.85              0.91
4143                zw              Zimbabwe             Low Income          Sub-Saharan Africa                  za        South Africa      Upper Middle Income       Sub-Saharan Africa             -2.98            -11.79             -9.10            -12.08

      net_per_10K_2019
71                1.35
107               0.65
145               2.86
218               0.53
297               1.90
419               0.53
476               0.89
543              -0.03
558               1.74
667               0.65
693               3.08
755               0.55
824               0.05
891               0.06
1101              0.63
1165              0.26
1274             -0.03
1360              0.17
1383              0.53
1520              0.10
1642              0.98
1689              0.21
1765              0.69
1871             -0.01
1925              3.88
1956              0.61
2038             -0.08
2117             -2.55
2196              0.05
2272              0.17
2303              0.61
2361              0.28
2392              0.26
2615             -3.11
2620              0.00
2664             -0.02
2712              0.05
2729              1.37
2735              5.51
2772             -0.08
2860              1.47
2920              1.90
2981             15.82
3013              0.06
3102              0.02
3140              0.16
3184              0.13
3233              0.43
3285              0.82
3399              0.19
3474              0.40
3524              0.29
3642              0.11
3730              0.03
3764              0.04
3785              0.23
3842              0.14
3960             -0.22
4130              2.89
4143            -20.76
     base_country_code base_country_name base_country_wb_income base_country_wb_region target_country_code   target_country_name target_country_wb_income    target_country_wb_region  net_per_10K_2015  net_per_10K_2016  net_per_10K_2017  net_per_10K_2018  \
4065                za      South Africa    Upper Middle Income     Sub-Saharan Africa                  af           Afghanistan               Low Income                  South Asia             -0.12             -0.15             -0.06             -0.03
4066                za      South Africa    Upper Middle Income     Sub-Saharan Africa                  ao                Angola      Lower Middle Income          Sub-Saharan Africa             -0.21             -0.10             -0.06             -0.12
4067                za      South Africa    Upper Middle Income     Sub-Saharan Africa                  au             Australia              High Income         East Asia & Pacific             -2.14             -3.05             -3.02             -2.54
4068                za      South Africa    Upper Middle Income     Sub-Saharan Africa                  at               Austria              High Income       Europe & Central Asia              0.00             -0.07             -0.07             -0.07
4069                za      South Africa    Upper Middle Income     Sub-Saharan Africa                  bh               Bahrain              High Income  Middle East & North Africa             -0.03             -0.01             -0.03             -0.03
4070                za      South Africa    Upper Middle Income     Sub-Saharan Africa                  be               Belgium              High Income       Europe & Central Asia              0.02             -0.03             -0.13             -0.25
4071                za      South Africa    Upper Middle Income     Sub-Saharan Africa                  bw              Botswana      Upper Middle Income          Sub-Saharan Africa             -0.21             -0.02              0.00              0.05
4072                za      South Africa    Upper Middle Income     Sub-Saharan Africa                  br                Brazil      Upper Middle Income   Latin America & Caribbean              0.04              0.10              0.08              0.24
4073                za      South Africa    Upper Middle Income     Sub-Saharan Africa                  cm              Cameroon      Lower Middle Income          Sub-Saharan Africa             -0.08             -0.04             -0.01              0.02
4074                za      South Africa    Upper Middle Income     Sub-Saharan Africa                  ca                Canada              High Income               North America             -0.54             -0.69             -1.02             -1.40

<ipython-input-73-4ff5b9c53662>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  migration_to_za["net_migration_rate"] = migration_to_za[years].sum(axis=1)
<ipython-input-73-4ff5b9c53662>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  migration_from_za["net_migration_rate"] = migration_from_za[years].sum(axis=1)

## Visualising the data
_graphical or textual visualisation of the data_

---

In [74]:
## visualisation code here

# Summary
_what has this dataset told you_
_include what you have learnt from this project_