<a href="https://colab.research.google.com/github/TsamayaDesigns/codeDivision-data-with-python/blob/main/Data_Project_Beyond_Borders_Analysing_Migration_Patterns_in_South_Africa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Beyond Borders: Analysing Migration Patterns in South Africa
---


* **Author:**
  * Eugene Gerber
* **Date:**
  * 2024-04-24

## Objectives
---
Understanding migration patterns to and from South Africa are crucial for a number of reasons, for example:
1.  Policy Making
2.  Economic Development
3.  Labour Market Planning
4.  Regional Comparison

In this project I will investigate migration patterns and their implications by analising three dataframes containing information on countries, industries, and skills to provide relevant insight and answers to four important questions:
1.  What are the main countries of destination for migrants from South Africa, and how has the net migration rate changed over the years?
2.  Which industries are attracting migrants from South Africa, and what is the trend in their skill demand over recent years?
3.  What are the primary skill categories that migrants take from (or bring to) South Africa, and how have their net migration rates evolved annually?
4.  How does South Africa's migration patterns compare with those of neighbouring countries within the same World Bank region?

Each question will explore a key aspect of migration dynamics, including destination countries, industries attracting migrants, skill categories, and regional comparisons, thereby providing valuable insights into the migration patterns of South Africa.

---

## The Dataset

I will be using the Talent Migration Dataset. The metrics and data are a product of the partnership between the World Bank and LinkedIn, and cover industry employment, skill, and migration metrics for more than 100 countries.

**Location:**
* URL: "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"

**Contents:**
* Worksheets:
  1. Country Migration
  2. Industry Migration
  3. Skill Migration

**Code:**

In the code section below, a function **"get_excel_data()"** is created that will:
  1. Specify the location (URL) of the dataset
  2. Specify the new dataframes for each separate worksheet
    * country_df
    * industry_df
    * skill_df
  3. Read the specified worksheets (Worksheets) into its own dataframe (2)
  4. Display the column names and the first 5 rows of each dataframe (2)
  5. Return a separate dataframe for each worksheet

**Display**

Displayed directly below the Code Section (per dataframe):
* Dataframe name
* Column names
* First 5 rows of data

---

In [2]:
import pandas as pd
pd.set_option('display.width', 270)

# Import CSV-data from GitHub
def get_excel_data():
  url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
  country_df = pd.read_excel(url, sheet_name = "Country Migration")
  industry_df = pd.read_excel(url, sheet_name = "Industry Migration")
  skill_df =  pd.read_excel(url, sheet_name = "Skill Migration")

  # Display Datasets (first 5 rows)
  print("Country Dataframe: ")
  display(country_df.head())
  print("\nIndustry Dataframe: ")
  display(industry_df.head())
  print("\nSkill Dataframe: ")
  display(skill_df.head())

  return country_df, industry_df, skill_df

country_df, industry_df, skill_df = get_excel_data()

Country Dataframe:

,base_country_code,base_country_name,base_lat,base_long,base_country_wb_income,base_country_wb_region,target_country_code,target_country_name,target_lat,target_long,target_country_wb_income,target_country_wb_region,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,af,Afghanistan,33.939110,67.709953,Low Income,South Asia,0.19,0.16,0.11,-0.05,-0.02
1,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,dz,Algeria,28.033886,1.659626,Upper Middle Income,Middle East & North Africa,0.19,0.25,0.57,0.55,0.78
2,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,ao,Angola,-11.202692,17.873887,Lower Middle Income,Sub-Saharan Africa,-0.01,0.04,0.11,-0.02,-0.06
3,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,ar,Argentina,-38.416097,-63.616672,High Income,Latin America & Caribbean,0.16,0.18,0.04,0.01,0.23
4,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,am,Armenia,40.069099,45.038189,Upper Middle Income,Europe & Central Asia,0.10,0.05,0.03,-0.01,0.02

Industry Dataframe:

  country_code          country_name    wb_income                   wb_region isic_section_index              isic_section_name  industry_id        industry_name  net_per_10K_2015  net_per_10K_2016  net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
0           ae  United Arab Emirates  High income  Middle East & North Africa                  C                  Manufacturing            1      Defense & Space            378.74            127.94              8.20             68.51             49.55
1           ae  United Arab Emirates  High income  Middle East & North Africa                  J  Information and communication            3    Computer Hardware            100.97            358.14            112.98            149.57            182.22
2           ae  United Arab Emirates  High income  Middle East & North Africa                  J  Information and communication            4    Computer Software           1079.36            848.15            596.48            409.18            407.41
3           ae  United Arab Emirates  High income  Middle East & North Africa                  J  Information and communication            5  Computer Networking            401.46            447.39            163.99            236.69            188.07
4           ae  United Arab Emirates  High income  Middle East & North Africa                  J  Information and communication            6             Internet           1840.33           1368.42            877.71            852.39            519.40

Skill Dataframe:

  country_code country_name   wb_income   wb_region  skill_group_id         skill_group_category        skill_group_name  net_per_10K_2015  net_per_10K_2016  net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
0           af  Afghanistan  Low income  South Asia            2549                  Tech Skills  Information Management           -791.59           -705.88           -550.04           -680.92          -1208.79
1           af  Afghanistan  Low income  South Asia            2608              Business Skills  Operational Efficiency          -1610.25           -933.55           -776.06           -532.22           -790.09
2           af  Afghanistan  Low income  South Asia            3806  Specialized Industry Skills       National Security          -1731.45           -769.68           -756.59           -600.44           -767.64
3           af  Afghanistan  Low income  South Asia           50321                  Tech Skills        Software Testing           -957.50           -828.54           -964.73           -406.50           -739.51
4           af  Afghanistan  Low income  South Asia            1606  Specialized Industry Skills                    Navy          -1510.71           -841.17           -842.32           -581.71           -718.64

# Describing the Data

* description of the processing with code in the box below to show summary information about the data

* description of the dataset
3 worksheets
data for 2015 - 2019
how many unique countries (in the code)
what code to be used: shape & description each
do a new function: describe_data()
---

In [28]:
# Describing the data
def describe_data():
  # 1. Country Migration
  print("\n1. Country Migration Dataframe")
  print("------------------------------")
  print("\nNumber of Rows & Columns: \n", country_df.shape)
  print("\nColumn Names, Non-null Counts & Datatypes: ")
  print(country_df.info())
  print("\nNumber of (unique) Countries: \n", len(country_df["base_country_code"].unique()))
  print("--------------------------------------------")

  # 2. Industry Migration
  print("\n2. Industry Migration Dataframe")
  print("-------------------------------")
  print("\nNumber of Rows & Columns: \n", industry_df.shape)
  print("\nColumn Names, Non-null Counts & Datatypes: ")
  print(industry_df.info())
  print("\nNumber of (unique) Countries: \n", len(industry_df["country_code"].unique()))
  print("--------------------------------------------")

  # 3. Skill Migration
  print("\n3. Skill Migration Dataframe")
  print("----------------------------")
  print("\nNumber of Rows & Columns: \n", skill_df.shape)
  print("\nColumn Names, Non-null Counts & Datatypes: ")
  print(skill_df.info())
  print("\nNumber of (unique) Countries: \n", len(skill_df["country_code"].unique()))
  print("--------------------------------------------")

  # 4. Check for duplicates in the different dataframes
  print("\n4. Duplicates in dataframes?")
  print("----------------------------")
  print("\nCountry dataframe:", country_df.duplicated().sum())
  print("Industry dataframe:", industry_df.duplicated().sum())
  print("Skill dataframe:", skill_df.duplicated().sum())
  print("--------------------------------------------")

  # 5. Find the Countries in country_df but not in industry_df
  print("\n4. Differences in dataframes: 'Country Code'?")
  print("---------------------------------------------")
  country_codes_country_df = set(country_df["base_country_code"].unique())
  country_codes_industry_df = set(industry_df["country_code"].unique())
  country_codes_skill_df = set(skill_df["country_code"].unique())
  countries_in_country_not_in_skill = country_codes_country_df - country_codes_skill_df
  countries_in_country_not_in_industry = country_codes_country_df - country_codes_industry_df
  countries_in_skill_not_in_industry = country_codes_skill_df - country_codes_industry_df

 # Print the results
  print("Countries in Country dataframe & not in Skill dataframe: ")
  print(len(countries_in_country_not_in_skill))
  print("Countries in Country dataframe & not in Industry dataframe: ")
  print(countries_in_country_not_in_industry)
  print("Countries in Skill dataframe & not in Industry dataframe: ")
  print(countries_in_skill_not_in_industry)
describe_data()
## describe the dataset (number of records, statistics, columns, etc)

1. Country Migration Dataframe
------------------------------

Number of Rows & Columns:
 (4148, 17)

Column Names, Non-null Counts & Datatypes:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4148 entries, 0 to 4147
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   base_country_code         4148 non-null   object
 1   base_country_name         4148 non-null   object
 2   base_lat                  4148 non-null   float64
 3   base_long                 4148 non-null   float64
 4   base_country_wb_income    4148 non-null   object
 5   base_country_wb_region    4148 non-null   object
 6   target_country_code       4148 non-null   object
 7   target_country_name       4148 non-null   object
 8   target_lat                4148 non-null   float64
 9   target_long               4148 non-null   float64
 10  target_country_wb_income  4148 non-null   object
 11  target_country_wb_region  4148 non-null   object
 12  net_per_10K_2015          4148 non-null   float64
 13  net_per_10K_2016          4148 non-null   float64
 14  net_per_10K_2017          4148 non-null   float64
 15  net_per_10K_2018          4148 non-null   float64
 16  net_per_10K_2019          4148 non-null   float64
dtypes: float64(9), object(8)
memory usage: 551.0+ KB
None

Number of (unique) Countries:
 140
--------------------------------------------

2. Industry Migration Dataframe
-------------------------------

Number of Rows & Columns:
 (5295, 13)

Column Names, Non-null Counts & Datatypes:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5295 entries, 0 to 5294
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_code        5295 non-null   object
 1   country_name        5295 non-null   object
 2   wb_income           5295 non-null   object
 3   wb_region           5295 non-null   object
 4   isic_section_index  5295 non-null   object
 5   isic_section_name   5295 non-null   object
 6   industry_id         5295 non-null   int64
 7   industry_name       5295 non-null   object
 8   net_per_10K_2015    5295 non-null   float64
 9   net_per_10K_2016    5295 non-null   float64
 10  net_per_10K_2017    5295 non-null   float64
 11  net_per_10K_2018    5295 non-null   float64
 12  net_per_10K_2019    5295 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 537.9+ KB
None

Number of (unique) Countries:
 137
--------------------------------------------

3. Skill Migration Dataframe
----------------------------

Number of Rows & Columns:
 (17617, 12)

Column Names, Non-null Counts & Datatypes:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17617 entries, 0 to 17616
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   country_code          17617 non-null  object
 1   country_name          17617 non-null  object
 2   wb_income             17617 non-null  object
 3   wb_region             17617 non-null  object
 4   skill_group_id        17617 non-null  int64
 5   skill_group_category  17617 non-null  object
 6   skill_group_name      17617 non-null  object
 7   net_per_10K_2015      17617 non-null  float64
 8   net_per_10K_2016      17617 non-null  float64
 9   net_per_10K_2017      17617 non-null  float64
 10  net_per_10K_2018      17617 non-null  float64
 11  net_per_10K_2019      17617 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 1.6+ MB
None

Number of (unique) Countries:
 140
--------------------------------------------

4. Duplicates in dataframes?
----------------------------

Country dataframe: 0
Industry dataframe: 0
Skill dataframe: 0
--------------------------------------------

4. Differences in dataframes: 'Country Code'?
---------------------------------------------
Countries in Country dataframe & not in Skill dataframe:
0
Countries in Country dataframe & not in Industry dataframe:
{'py', 'na', 'tg'}
Countries in Skill dataframe & not in Industry dataframe:
{'py', 'na', 'tg'}

## Cleaning the data
_what will you do to get the data ready for analysis_
* sorting
* removing null data
* forming new data tables
* ...
---

In [ ]:
## data cleaning code

## Analysing the data
_what analysis are you doing and why_
* producing summary statistics
* printing calculated statistics
* data analysis calculations (e.g. regression, correlation)
* ...

---

In [ ]:
## analysis code here

## Visualising the data
_graphical or textual visualisation of the data_

---

In [ ]:
## visualisation code here

# Summary
_what has this dataset told you_
_include what you have learnt from this project_