<a href="https://colab.research.google.com/github/TsamayaDesigns/codeDivision-data-with-python/blob/main/Data_Investigation_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data investigation project
---

Use what you have learnt so far about reading data files and displaying rows, columns, unique values, etc, to investigate and produce some printed information from this data set: https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv

In [8]:
import pandas as pd

# Import CSV-data from GitHub
def get_csv_data():
  url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv"
  df = pd.read_csv(url)
  return df

london = get_csv_data()

# Produce statistics from imported data
def investigate_data(df):
  head = london.head()


  return {
      "1. Head: ": head


  }

statistics = investigate_data(london)

print("\nHousing in London Statistics\n")
for key, value in statistics.items():
  print(f"{key}:\n{value}\n")

Housing in London Statistics

1. Head: :
        code                  area        date  median_salary  \
0  E09000001        city of london  1999-12-01        33020.0
1  E09000002  barking and dagenham  1999-12-01        21480.0
2  E09000003                barnet  1999-12-01        19568.0
3  E09000004                bexley  1999-12-01        18621.0
4  E09000005                 brent  1999-12-01        18532.0

   life_satisfaction mean_salary recycling_pct  population_size  \
0                NaN       48922             0           6581.0
1                NaN       23620             3         162444.0
2                NaN       23128             8         313469.0
3                NaN       21386            18         217458.0
4                NaN       20911             6         260317.0

   number_of_jobs  area_size  no_of_houses  borough_flag
0             NaN        NaN           NaN             1
1             NaN        NaN           NaN             1
2             NaN        NaN           NaN             1
3             NaN        NaN           NaN             1
4             NaN        NaN           NaN             1