<a href="https://colab.research.google.com/github/TsamayaDesigns/codeDivision-data-with-python/blob/main/Data_Project_Beyond_Borders_Analysing_Migration_Patterns_in_South_Africa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Beyond Borders: Analysing Migration Patterns in South Africa
---


* **Author:**
  * Eugene Gerber
* **Date:**
  * 2024-04-24

## Objectives
---
Understanding migration patterns to and from South Africa are crucial for a number of reasons, for example:
1.  Policy Making
2.  Economic Development
3.  Labour Market Planning
4.  Regional Comparison

In this project I will investigate migration patterns and their implications by analising three dataframes containing information on countries, industries, and skills to provide relevant insight and answers to four important questions:
1.  What are the main countries of destination for migrants from South Africa, and how has the net migration rate changed over the years?
2.  Which industries are attracting migrants from South Africa, and what is the trend in their skill demand over recent years?
3.  What are the primary skill categories that migrants take from (or bring to) South Africa, and how have their net migration rates evolved annually?
4.  How does South Africa's migration patterns compare with those of neighbouring countries within the same World Bank region?

Each question will explore a key aspect of migration dynamics, including destination countries, industries attracting migrants, skill categories, and regional comparisons, thereby providing valuable insights into the migration patterns of South Africa.

---

## The Dataset

I will be using the Talent Migration Dataset. The metrics and data are a product of the partnership between the World Bank and LinkedIn, and cover industry employment, skill, and migration metrics for more than 100 countries.

**Location:**
* URL: "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"

**Contents:**
* Worksheets:
  1. Country Migration
  2. Industry Migration
  3. Skill Migration

**Code:**

In the code section below, a function **"get_excel_data()"** is created that will:
  1. Specify the location (URL) of the dataset
  2. Specify the new dataframes for each separate worksheet
    * country_df
    * industry_df
    * skill_df
  3. Read the specified worksheets (Worksheets) into its own dataframe (2)
  4. Display the column names and the first 5 rows of each dataframe (2)
  5. Return a separate dataframe for each worksheet

**Display**

Displayed directly below the Code Section (per dataframe):
* Dataframe name
* Column names
* First 5 rows of data

---

In [48]:
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.width', 270)

# Import CSV-data from GitHub
def get_excel_data():
  url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
  country_df = pd.read_excel(url, sheet_name = "Country Migration")
  industry_df = pd.read_excel(url, sheet_name = "Industry Migration")
  skill_df =  pd.read_excel(url, sheet_name = "Skill Migration")

  # Display Datasets (first 5 rows)
  print("Country Dataframe: ")
  display(country_df.head())
  print("\nIndustry Dataframe: ")
  display(industry_df.head())
  print("\nSkill Dataframe: ")
  display(skill_df.head())

  return country_df, industry_df, skill_df

country_df, industry_df, skill_df = get_excel_data()

Country Dataframe:

,base_country_code,base_country_name,base_lat,base_long,base_country_wb_income,base_country_wb_region,target_country_code,target_country_name,target_lat,target_long,target_country_wb_income,target_country_wb_region,net_per_10K_2015,net_per_10K_2016,net_per_10K_2017,net_per_10K_2018,net_per_10K_2019
0,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,af,Afghanistan,33.939110,67.709953,Low Income,South Asia,0.19,0.16,0.11,-0.05,-0.02
1,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,dz,Algeria,28.033886,1.659626,Upper Middle Income,Middle East & North Africa,0.19,0.25,0.57,0.55,0.78
2,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,ao,Angola,-11.202692,17.873887,Lower Middle Income,Sub-Saharan Africa,-0.01,0.04,0.11,-0.02,-0.06
3,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,ar,Argentina,-38.416097,-63.616672,High Income,Latin America & Caribbean,0.16,0.18,0.04,0.01,0.23
4,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,am,Armenia,40.069099,45.038189,Upper Middle Income,Europe & Central Asia,0.10,0.05,0.03,-0.01,0.02

Industry Dataframe:

  country_code          country_name    wb_income                   wb_region isic_section_index              isic_section_name  industry_id        industry_name  net_per_10K_2015  net_per_10K_2016  net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
0           ae  United Arab Emirates  High income  Middle East & North Africa                  C                  Manufacturing            1      Defense & Space            378.74            127.94              8.20             68.51             49.55
1           ae  United Arab Emirates  High income  Middle East & North Africa                  J  Information and communication            3    Computer Hardware            100.97            358.14            112.98            149.57            182.22
2           ae  United Arab Emirates  High income  Middle East & North Africa                  J  Information and communication            4    Computer Software           1079.36            848.15            596.48            409.18            407.41
3           ae  United Arab Emirates  High income  Middle East & North Africa                  J  Information and communication            5  Computer Networking            401.46            447.39            163.99            236.69            188.07
4           ae  United Arab Emirates  High income  Middle East & North Africa                  J  Information and communication            6             Internet           1840.33           1368.42            877.71            852.39            519.40

Skill Dataframe:

  country_code country_name   wb_income   wb_region  skill_group_id         skill_group_category        skill_group_name  net_per_10K_2015  net_per_10K_2016  net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
0           af  Afghanistan  Low income  South Asia            2549                  Tech Skills  Information Management           -791.59           -705.88           -550.04           -680.92          -1208.79
1           af  Afghanistan  Low income  South Asia            2608              Business Skills  Operational Efficiency          -1610.25           -933.55           -776.06           -532.22           -790.09
2           af  Afghanistan  Low income  South Asia            3806  Specialized Industry Skills       National Security          -1731.45           -769.68           -756.59           -600.44           -767.64
3           af  Afghanistan  Low income  South Asia           50321                  Tech Skills        Software Testing           -957.50           -828.54           -964.73           -406.50           -739.51
4           af  Afghanistan  Low income  South Asia            1606  Specialized Industry Skills                    Navy          -1510.71           -841.17           -842.32           -581.71           -718.64

# Describing the Data

* description of the processing with code in the box below to show summary information about the data

* description of the dataset
3 worksheets
data for 2015 - 2019
how many unique countries (in the code)
what code to be used: shape & description each
do a new function: describe_data()
---

In [49]:
# Describing the data
def describe_data():
  # 1. Country Migration
  print("\n1. Country Migration Dataframe")
  print("------------------------------")
  print("\nNumber of Rows & Columns: \n", country_df.shape)
  print("\nColumn Names, Non-null Counts & Datatypes: ")
  print(country_df.info())
  print("\nNumber of (unique) Countries: \n", len(country_df["base_country_code"].unique()))
  print("--------------------------------------------")

  # 2. Industry Migration
  print("\n2. Industry Migration Dataframe")
  print("-------------------------------")
  print("\nNumber of Rows & Columns: \n", industry_df.shape)
  print("\nColumn Names, Non-null Counts & Datatypes: ")
  print(industry_df.info())
  print("\nNumber of (unique) Countries: \n", len(industry_df["country_code"].unique()))
  print("--------------------------------------------")

  # 3. Skill Migration
  print("\n3. Skill Migration Dataframe")
  print("----------------------------")
  print("\nNumber of Rows & Columns: \n", skill_df.shape)
  print("\nColumn Names, Non-null Counts & Datatypes: ")
  print(skill_df.info())
  print("\nNumber of (unique) Countries: \n", len(skill_df["country_code"].unique()))
  print("--------------------------------------------")

describe_data()
## describe the dataset (number of records, statistics, columns, etc)

1. Country Migration Dataframe
------------------------------

Number of Rows & Columns:
 (4148, 17)

Column Names, Non-null Counts & Datatypes:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4148 entries, 0 to 4147
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   base_country_code         4148 non-null   object
 1   base_country_name         4148 non-null   object
 2   base_lat                  4148 non-null   float64
 3   base_long                 4148 non-null   float64
 4   base_country_wb_income    4148 non-null   object
 5   base_country_wb_region    4148 non-null   object
 6   target_country_code       4148 non-null   object
 7   target_country_name       4148 non-null   object
 8   target_lat                4148 non-null   float64
 9   target_long               4148 non-null   float64
 10  target_country_wb_income  4148 non-null   object
 11  target_country_wb_region  4148 non-null   object
 12  net_per_10K_2015          4148 non-null   float64
 13  net_per_10K_2016          4148 non-null   float64
 14  net_per_10K_2017          4148 non-null   float64
 15  net_per_10K_2018          4148 non-null   float64
 16  net_per_10K_2019          4148 non-null   float64
dtypes: float64(9), object(8)
memory usage: 551.0+ KB
None

Number of (unique) Countries:
 140
--------------------------------------------

2. Industry Migration Dataframe
-------------------------------

Number of Rows & Columns:
 (5295, 13)

Column Names, Non-null Counts & Datatypes:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5295 entries, 0 to 5294
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_code        5295 non-null   object
 1   country_name        5295 non-null   object
 2   wb_income           5295 non-null   object
 3   wb_region           5295 non-null   object
 4   isic_section_index  5295 non-null   object
 5   isic_section_name   5295 non-null   object
 6   industry_id         5295 non-null   int64
 7   industry_name       5295 non-null   object
 8   net_per_10K_2015    5295 non-null   float64
 9   net_per_10K_2016    5295 non-null   float64
 10  net_per_10K_2017    5295 non-null   float64
 11  net_per_10K_2018    5295 non-null   float64
 12  net_per_10K_2019    5295 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 537.9+ KB
None

Number of (unique) Countries:
 137
--------------------------------------------

3. Skill Migration Dataframe
----------------------------

Number of Rows & Columns:
 (17617, 12)

Column Names, Non-null Counts & Datatypes:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17617 entries, 0 to 17616
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   country_code          17617 non-null  object
 1   country_name          17617 non-null  object
 2   wb_income             17617 non-null  object
 3   wb_region             17617 non-null  object
 4   skill_group_id        17617 non-null  int64
 5   skill_group_category  17617 non-null  object
 6   skill_group_name      17617 non-null  object
 7   net_per_10K_2015      17617 non-null  float64
 8   net_per_10K_2016      17617 non-null  float64
 9   net_per_10K_2017      17617 non-null  float64
 10  net_per_10K_2018      17617 non-null  float64
 11  net_per_10K_2019      17617 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 1.6+ MB
None

Number of (unique) Countries:
 140
--------------------------------------------

## Cleaning the data
_what will you do to get the data ready for analysis_
* sorting
* removing null data
* forming new data tables
* ...
---

In [50]:
# Data Cleaning
def clean_data():
  # 1. Check for duplicates in the different dataframes
  print("\n1. Duplicates in dataframes?")
  print("----------------------------")
  print("\nCountry dataframe:", country_df.duplicated().sum())
  print("Industry dataframe:", industry_df.duplicated().sum())
  print("Skill dataframe:", skill_df.duplicated().sum())
  print("--------------------------------------------")

  # 2. Check for missing values
  print("\n2. Missing 'null' values in dataframes?")
  print("---------------------------------------")
  print("Missing values in Country:\n", country_df.isnull().sum())
  print("\nMissing values in Industry:\n", industry_df.isnull().sum())
  print("\nMissing values in Skill:\n", skill_df.isnull().sum())
  print("--------------------------------------------")

  # 3. Find the country codes missing from 'industry_df'
  print("\n3. Differences in dataframes: 'Country Code'?")
  print("---------------------------------------------")
  country_codes_country_df = set(country_df["base_country_code"].unique())
  country_codes_industry_df = set(industry_df["country_code"].unique())
  country_codes_skill_df = set(skill_df["country_code"].unique())
  countries_in_country_not_in_skill = country_codes_country_df - country_codes_skill_df

  if len(countries_in_country_not_in_skill) == 0:
      countries_not_in_industry = country_codes_country_df - country_codes_industry_df
      print("\nCountry codes missing from 'industry_df': ", countries_not_in_industry)

# 4. Drop columns not needed from 'country_df'


clean_data()
## data cleaning code

1. Duplicates in dataframes?
----------------------------

Country dataframe: 0
Industry dataframe: 0
Skill dataframe: 0
--------------------------------------------

2. Missing 'null' values in dataframes?
---------------------------------------
Missing values in Country:
 base_country_code           0
base_country_name           0
base_lat                    0
base_long                   0
base_country_wb_income      0
base_country_wb_region      0
target_country_code         0
target_country_name         0
target_lat                  0
target_long                 0
target_country_wb_income    0
target_country_wb_region    0
net_per_10K_2015            0
net_per_10K_2016            0
net_per_10K_2017            0
net_per_10K_2018            0
net_per_10K_2019            0
dtype: int64

Missing values in Industry:
 country_code          0
country_name          0
wb_income             0
wb_region             0
isic_section_index    0
isic_section_name     0
industry_id           0
industry_name         0
net_per_10K_2015      0
net_per_10K_2016      0
net_per_10K_2017      0
net_per_10K_2018      0
net_per_10K_2019      0
dtype: int64

Missing values in Skill:
 country_code            0
country_name            0
wb_income               0
wb_region               0
skill_group_id          0
skill_group_category    0
skill_group_name        0
net_per_10K_2015        0
net_per_10K_2016        0
net_per_10K_2017        0
net_per_10K_2018        0
net_per_10K_2019        0
dtype: int64
--------------------------------------------

3. Differences in dataframes: 'Country Code'?
---------------------------------------------

Country codes missing from 'industry_df':  {'py', 'na', 'tg'}

## Analysing the data
_what analysis are you doing and why_
* producing summary statistics
* printing calculated statistics
* data analysis calculations (e.g. regression, correlation)
* ...

---

In [60]:
# Analyse Data
def analyse_data():
  # Define years
  years = ["net_per_10K_2015", "net_per_10K_2016", "net_per_10K_2017", "net_per_10K_2018", "net_per_10K_2019"]

  # 1. Filter dataframe to separate migration to/from South Africa (za)
  migration_to_za = country_df[country_df["target_country_code"] == "za"]
  migration_from_za = country_df[country_df["base_country_code"] == "za"]
  print(migration_to_za)
  print(migration_from_za)

  # 2. Calculate net migration rates to/from South Africa (za)
  migration_to_za["net_migration_rate"] = migration_to_za[years].sum(axis=1)
  migration_from_za["net_migration_rate"] = migration_from_za[years].sum(axis=1)

  # 3. Aggregate net migration rates by country
  migration_to_za_agg = migration_to_za.groupby("target_country_name")["net_migration_rate"].mean()
  migration_from_za_agg = migration_from_za.groupby("target_country_name")["net_migration_rate"].mean()


  # 4. Display aggregated migration patterns
  # print(migration_from_za_agg)

  # Plot the overall migration patterns


analyse_data()
## analysis code here

     base_country_code     base_country_name   base_lat   base_long base_country_wb_income      base_country_wb_region target_country_code target_country_name  target_lat  target_long target_country_wb_income target_country_wb_region  net_per_10K_2015  \
71                  ae  United Arab Emirates  23.424076   53.847818            High Income  Middle East & North Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              2.45
107                 af           Afghanistan  33.939110   67.709953             Low Income                  South Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              2.97
145                 ao                Angola -11.202692   17.873887    Lower Middle Income          Sub-Saharan Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              3.94
218                 at               Austria  47.516231   14.550072            High Income       Europe & Central Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -0.01
297                 au             Australia -25.274398  133.775136            High Income         East Asia & Pacific                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              1.31
419                 be               Belgium  50.503887    4.469936            High Income       Europe & Central Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -0.04
476                 bh               Bahrain  25.930414   50.637772            High Income  Middle East & North Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.61
543                 br                Brazil -14.235004  -51.925280    Upper Middle Income   Latin America & Caribbean                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -0.01
558                 bw              Botswana -22.328474   24.684866    Upper Middle Income          Sub-Saharan Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              6.08
667                 ca                Canada  56.130366 -106.346771            High Income               North America                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.21
693                 cd      Congo, Dem. Rep.  -4.038333   21.758664             Low Income          Sub-Saharan Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             14.13
755                 ch           Switzerland  46.818188    8.227512            High Income       Europe & Central Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.26
824                 cm              Cameroon   7.369722   12.354722    Lower Middle Income          Sub-Saharan Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              1.22
891                 cn                 China  35.861660  104.195397    Upper Middle Income         East Asia & Pacific                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.04
1101                de               Germany  51.165691   10.451526            High Income       Europe & Central Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.19
1165                dk               Denmark  56.263920    9.501785            High Income       Europe & Central Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.07
1274                eg      Egypt, Arab Rep.  26.820553   30.802498    Lower Middle Income  Middle East & North Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -0.07
1360                es                 Spain  40.463667   -3.749220            High Income       Europe & Central Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.04
1383                et              Ethiopia   9.145000   40.489673             Low Income          Sub-Saharan Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.51
1520                fr                France  46.227638    2.213749            High Income       Europe & Central Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -0.07
1642                gb        United Kingdom  55.378051   -3.435973            High Income       Europe & Central Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -3.33
1689                gh                 Ghana   7.946527   -1.023194    Lower Middle Income          Sub-Saharan Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.32
1765                hk  Hong Kong SAR, China  22.396428  114.109497            High Income         East Asia & Pacific                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.72
1871                id             Indonesia  -0.789275  113.921327    Lower Middle Income         East Asia & Pacific                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -0.02
1925                ie               Ireland  53.412910   -8.243890            High Income       Europe & Central Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.63
1956                il                Israel  31.046051   34.851612            High Income  Middle East & North Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.23
2038                in                 India  20.593684   78.962880    Lower Middle Income                  South Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -0.04
2117                is               Iceland  64.963051  -19.020835            High Income       Europe & Central Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -8.17
2196                it                 Italy  41.871940   12.567380            High Income       Europe & Central Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -0.02
2272                jp                 Japan  36.204824  138.252924            High Income         East Asia & Pacific                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.26
2303                ke                 Kenya  -0.023559   37.906193    Lower Middle Income          Sub-Saharan Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              1.48
2361                kr           Korea, Rep.  35.907757  127.766922            High Income         East Asia & Pacific                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -0.02
2392                kw                Kuwait  29.311660   47.481766            High Income  Middle East & North Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -0.67
2615                mu             Mauritius -20.348404   57.552152    Upper Middle Income          Sub-Saharan Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -0.33
2620                mw                Malawi -13.254308   34.301525             Low Income          Sub-Saharan Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              2.39
2664                mx                Mexico  23.634501 -102.552784    Upper Middle Income   Latin America & Caribbean                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -0.01
2712                my              Malaysia   4.210484  101.975766    Upper Middle Income         East Asia & Pacific                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -0.04
2729                mz            Mozambique -18.665695   35.529562             Low Income          Sub-Saharan Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              6.47
2735                na               Namibia -22.957640   18.490410    Upper Middle Income          Sub-Saharan Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             20.90
2772                ng               Nigeria   9.081999    8.675277    Lower Middle Income          Sub-Saharan Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.17
2860                nl           Netherlands  52.132633    5.291266            High Income       Europe & Central Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.13
2920                no                Norway  60.472024    8.468946            High Income       Europe & Central Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -3.42
2981                nz           New Zealand -40.900557  174.885971            High Income         East Asia & Pacific                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              4.31
3013                om                  Oman  21.512583   55.923255            High Income  Middle East & North Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.37
3102                ph           Philippines  12.879721  121.774017    Lower Middle Income         East Asia & Pacific                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.04
3140                pk              Pakistan  30.375321   69.345116    Lower Middle Income                  South Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -0.01
3184                pl                Poland  51.919438   19.145136            High Income       Europe & Central Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -0.19
3233                pt              Portugal  39.399872   -8.224454            High Income       Europe & Central Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.07
3285                qa                 Qatar  25.354826   51.183884            High Income  Middle East & North Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              2.49
3399                sa          Saudi Arabia  23.885942   45.079162            High Income  Middle East & North Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.97
3474                se                Sweden  60.128161   18.643501            High Income       Europe & Central Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.08
3524                sg             Singapore   1.352083  103.819836            High Income         East Asia & Pacific                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.23
3642                th              Thailand  15.870032  100.992541    Upper Middle Income         East Asia & Pacific                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.02
3730                tr                Turkey  38.963745   35.243322    Upper Middle Income       Europe & Central Asia                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.00
3764                tw         Taiwan, China  23.697810  120.960515            High Income         East Asia & Pacific                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              0.06
3785                tz              Tanzania  -6.369028   34.888822             Low Income          Sub-Saharan Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              1.10
3842                ug                Uganda   1.373333   32.290275             Low Income          Sub-Saharan Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              1.15
3960                us         United States  37.090240  -95.712891            High Income               North America                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -0.78
4130                zm                Zambia -13.133897   27.849332    Lower Middle Income          Sub-Saharan Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa              8.20
4143                zw              Zimbabwe -19.015438   29.154857             Low Income          Sub-Saharan Africa                  za        South Africa  -30.559482    22.937506      Upper Middle Income       Sub-Saharan Africa             -2.98

      net_per_10K_2016  net_per_10K_2017  net_per_10K_2018  net_per_10K_2019  net_migration_rate
71                2.28              1.97              0.97              1.35                9.02
107               3.68              1.57              0.84              0.65                9.71
145               1.87              1.11              2.13              2.86               11.91
218               0.45              0.42              0.39              0.53                1.78
297               1.96              2.01              1.70              1.90                8.88
419               0.06              0.25              0.50              0.53                1.30
476               0.26              0.70              0.80              0.89                3.26
543              -0.02             -0.02             -0.05             -0.03               -0.13
558               0.67             -0.15             -1.39              1.74                6.95
667               0.28              0.44              0.61              0.65                2.19
693               4.89              2.58              0.95              3.08               25.63
755               0.48              0.55              0.42              0.55                2.26
824               0.51              0.15             -0.21              0.05                1.72
891               0.03              0.04              0.06              0.06                0.23
1101              0.35              0.43              0.59              0.63                2.19
1165              0.17              0.27              0.21              0.26                0.98
1274              0.04             -0.04             -0.06             -0.03               -0.16
1360              0.07              0.07              0.11              0.17                0.46
1383              0.35              0.46              0.05              0.53                1.90
1520             -0.04              0.03              0.02              0.10                0.04
1642             -1.59             -0.25              0.11              0.98               -4.08
1689              0.63              0.19             -0.25              0.21                1.10
1765              0.71              0.50              0.53              0.69                3.15
1871              0.01             -0.02             -0.02             -0.01               -0.06
1925              1.35              1.82              2.28              3.88                9.96
1956              0.31              0.35              0.53              0.61                2.03
2038             -0.05             -0.02             -0.08             -0.08               -0.27
2117             -7.20             -3.68             -3.18             -2.55              -24.78
2196              0.00              0.02              0.04              0.05                0.09
2272              0.30              0.23              0.19              0.17                1.15
2303              1.87              0.86              0.41              0.61                5.23
2361              0.08             -0.02              0.22              0.28                0.54
2392             -0.39             -0.04             -0.18              0.26               -1.02
2615              0.84              2.14             -2.05             -3.11               -2.51
2620              1.45             -2.12             -0.85              0.00                0.87
2664              0.01              0.07              0.00             -0.02                0.05
2712              0.03              0.03             -0.01              0.05                0.06
2729              0.53             -0.16             -0.46              1.37                7.75
2735             14.14              7.97              4.24              5.51               52.76
2772             -0.15             -0.33             -0.54             -0.08               -0.93
2860              0.50              0.62              0.89              1.47                3.61
2920             -9.67             -4.00             -1.37              1.90              -16.56
2981              8.89              8.64             10.38             15.82               48.04
3013              0.95              0.11              0.38              0.06                1.87
3102              0.01              0.00              0.02              0.02                0.09
3140             -0.03              0.03              0.16              0.16                0.31

<ipython-input-60-4ff5b9c53662>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  migration_to_za["net_migration_rate"] = migration_to_za[years].sum(axis=1)
<ipython-input-60-4ff5b9c53662>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  migration_from_za["net_migration_rate"] = migration_from_za[years].sum(axis=1)

## Visualising the data
_graphical or textual visualisation of the data_

---

In [ ]:
## visualisation code here

# Summary
_what has this dataset told you_
_include what you have learnt from this project_